@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

#gridContainer{
    padding: 20px;
}
.row >div {
    border: 1px solid lightgray;
    padding: 10px;
    background-color: aliceblue; 
    margin: 5px 0;
}
.col-xs-8{
    padding-top: 15px;
}